@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kaushan+Script&family=Smooch+Sans:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: BlackMustang;
    src: url(../fonts/Black\ Mustang.ttf);
}
:root {
    --cor0: white;
    --cor1: #D9D9D9;
    --cor2: #A6A6A6;
    --cor3: #595959;
    --cor4: #262626;
    --cor5: #0D0D0D;
    --cor6: black;

    --font-destaque: 'Bebas Neue';
    --font-gotic: 'BlackMustang';
    --font-padrao: 'Arial', Verdana, Helvetica, Sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #0D0D0D;
}

.particulas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
    background: radial-gradient(circle at 10% 20%, var(--cor2) 0%, transparent 20%), radial-gradient(circle at 90% 80%, var(--cor3) 0%, transparent 20%), var(--cor5);
}

.navegacao {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    padding: 15px;
    background-color: rgba(13, 13, 13, 0.859);
}

.menu {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 1rem;
}

.menu-link {
    padding: 5px;
    text-decoration:  none;
    font-size: 1.3rem;
    text-shadow: 0px 0px 3px #fff;
    position: relative;
}

.menu-link::after {
    content: '';
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, #D9D9D9, #595959);
    transition: width 0.5s ease;
}

.menu-link:hover::after {
    width: 100%;
}

.cabecalho {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {
    position: relative;
    margin-top: 15%;
    width: 400px;
    border-radius: 50%;  
    margin-bottom: 350px;
    box-shadow: 0px 0px 20px #fff;
    animation: animarLogo 7s linear infinite;
}

.foto-canguru {
    position: absolute;
    display: block;
    bottom: 0;
    height: 450px;
}

.titulo {
    position: absolute;
    bottom: 0;
    font-size: 4rem;
    font-weight: lighter;
    font-family: var(--font-gotic);
    color: #0D0D0D;
    text-shadow: 0px 0px 10px #fff, 0px 0px 20px #fff, 0px 0px 30px #fff;
    z-index: 1;  
}

.sobre {
    margin-top: 10%;
}

.sub-titulo {
    margin-top: 20px;
    text-align: center;
    font-size: 3em;
    font-family: var(--font-destaque);
    font-weight: lighter;
}

.box-paragrafo {
    position: relative;
    margin: 0 auto;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #595959;
    border-radius: 10px;
    background-color: #59595999; 
    box-shadow: 0px 0px 5px var(--cor2);
}
.paragrafo {
    text-align: center;
    font-size: 1.1rem;
}

.frase-efeito {
    text-align: center;
    font-family: var(--font-destaque);
    padding-top: 10px;
    font-size: 1.5rem;
}

footer {
    margin-top: 20px;
    padding: 5px;
    text-align: center;
}

@keyframes animarLogo {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}