@charset "UTF-8";

@media screen and (min-width: 768px) {

.menu {
    gap: 3rem;
}

.cabecalho {
    height: 100vh;
}

.logo {
    margin-top: 12%;
    width: 400px;
}

.foto-canguru {
    height: 60%;
}

.sobre {
    margin-top: 5%;
}

.box-paragrafo {
    max-width: 600px;
}


}